
.container {
    margin-bottom: 30px;
}
@media (min-width: 960px) and (max-width: 1919px) {
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-gap: 30px 0;

    }
}
